<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="intro-section container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="block-title">Our custom software development services</h3>
                    <p class="block-sub-title">From customization of existing software to end-to-end custom software development, we deliver high-quality software development services that add value to your business.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-3">
                    <div class="card info-card card-1">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="card-body">
                            <h5 class="card-title text-center">Web solutions development</h5>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card info-card card-2">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="card-body">
                            <h5 class="card-title text-center">Mobile applications development</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card info-card card-1">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="card-body">
                            <h5 class="card-title text-center">DevOps, Cloud and Containers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card info-card card-2">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                        <div class="card-body">
                            <h5 class="card-title text-center">System integration</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
