<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="intro-section container">
            <h2 class="title">Why Codenest?</h2>
            <p class="text-justify pb-5">We are an independent software and technology consultancy who pride ourselves on our ability to deliver complex technology solutions for our clients.  We focus on understanding our client’s business and work with them to deliver change that makes their business more effective.  Our multidisciplinary teams are made up of delivery experts, technology and software experts and user experience experts who have the drive, talent and creativity to take strategies from inception all the way through to business adoption.</p>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card info-card card-1">
                        <img src="img/results.png" alt="Results" class="img-responsive img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Client Success</h5>
                            <p class="card-text">Our client’s goals and objectives are out goals and objectives. We have a proven track record of continually delivering for our clients.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card info-card card-2">
                        <img src="img/client.png" alt="Client" class="img-responsive img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Agile</h5>
                            <p class="card-text">Agile ways of working and continuous delivery provide the platform to build - measure and <b>learn</b>. Each new iteration is an opportunity to better meet the user’s needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card info-card card-2">
                        <img src="img/agile.png" alt="Agile" class="img-responsive img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Technology</h5>
                            <p class="card-text"> We enjoy technology! A deep understanding of the latest technologies helps our teams to deliver robust, scalable, performant and maintainable solutions for our clients.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card info-card card-1">
                        <img src="img/tech.png" alt="Technology" class="img-responsive img-fluid card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-center">Results</h5>
                            <p class="card-text">Delivering great technology that (most importantly) people use, is what makes us get out of bed in the morning.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>