<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
			<p>Codenest is committed to working with our clients to help them achieve their own strategic goals. We strives at all times to provide the best possible value to its clients by delivering top quality services - you get on with your real work, and leave the rest to us.
			</p></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2017</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We're taking off by associating with Solirus for better goverment software solutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">Entering Financial Services</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We entered into finance and payment products by working with Tesco Bank on a pure greenfield project to redevelop their existing payment app called Tesco Pay+.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2018</h4>
                                    <h4 class="subheading">Our First Global Client</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Big coorporate companies have their challenges - we associated with HSBC to work on internal staff digitisation tablet app to improve efficiency and modernise service provided by branch staff.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2018</h4>
                                    <h4 class="subheading">Continuing The Global Journey...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are in process of developing a brand new Challenger Bank for a major global bank.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
