<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/moj.png" class="img-responsive img-centered" alt="Ministry of Justice">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/tescobank.png" class="img-responsive img-centered" alt="Tesco Bank">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/hsbc.png" class="img-responsive img-centered" alt="HSBC">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/deloitte.png" class="img-responsive img-centered" alt="Deloitte">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/astrazeneca.png" class="img-responsive img-centered" alt="Astrazeneca">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/sagepay.png" class="img-responsive img-centered" alt="Sage Pay">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/solirius.png" class="img-responsive img-centered" alt="Solirius">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/client/esynergy.png" class="img-responsive img-centered" alt="eSynergy Solutions">
                </a>
            </div>
        </div>
    </div>
</aside>