<!-- Clients Section -->
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some of our Clients</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="clients">
                <img src="img/clients.png" alt="Clients" class="img-responsive img-fluid">
            </div>
        </div>
    </section>
