<!-- Services Section -->
<section class="what-we-do-software">
    <div class="content"><h3 class="block-title">Our custom software development services</h3>
        <p class="block-sub-title">From customization of existing software to end-to-end custom software development, we
            deliver high-quality software development services that add value to your business.</p>
        <div class="what-we-do-software_item-wrapper">
            <div class="what-we-do-software_item five-img animated animated-opacity">
                <div class="what-we-do-software_item__image web_solutions_development"></div>
                <p class="what-we-do-software_item__description">Web solutions development </p></div>
            <div class="what-we-do-software_item five-img animated animated-opacity">
                <div class="what-we-do-software_item__image mobile_applications_development"></div>
                <p class="what-we-do-software_item__description">Mobile applications development</p></div>
            <div class="what-we-do-software_item five-img animated animated-opacity">
                <div class="what-we-do-software_item__image system_integration"></div>
                <p class="what-we-do-software_item__description">System integration</p></div>
            <div class="what-we-do-software_item five-img animated animated-opacity">
                <div class="what-we-do-software_item__image solutions_localization"></div>
                <p class="what-we-do-software_item__description">SAP custom development</p></div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">We bring maturity, pragmatism and passion to software projects
                    of all shapes and sizes – everything from mobile apps to enterprise-level technology platforms.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Software Development</h4>
                <p class="text-muted">Build cloud native software, refactoring legacy applications and lift & shift to
                    start your journey</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">DevOps, Cloud and Containers</h4>
                <p class="text-muted">Accelerate digital transformation by harnessing the power of DevOps & Cloud</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrows-h fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">System Integration</h4>
                <p class="text-muted">Today’s fast-paced and often disruptive business environment makes aligning your
                    enterprise's applications to business processes more critical than ever. We use our extensive
                    experience in business analysis and system integration to deliver a way forward for
                    digitisation.</p>
            </div>
        </div>
    </div>
</section>
