<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We specialise in delivering software engineering teams and projects related to DevOps, Cloud & Containers and Cloud Native Software Development.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Native Software Development</h4>
                    <p class="text-muted">Build cloud native software, refactoring legacy applications and lift & shift to start your journey</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps, Cloud and Containers</h4>
                    <p class="text-muted">Accelerate digital transformation by harnessing the power of DevOps & Cloud</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrows-h fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Messaging and Integrations</h4>
                    <p class="text-muted">Our integrations stack includes RabbitMQ and Kafka</p>
                </div>
            </div>
        </div>
    </section>
